// ==================================================
// Customize
// ==================================================

// --------------------------------------------------
// Index page.
// --------------------------------------------------
/*.index-content {
  background: url("../images/index/index-bg.jpg") bottom center no-repeat;
  background-size: 100% auto;
}

.location {
  font-size: 15px;
  line-height: 26px;
}
*/
.recommend {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.recommend-load-tip {
  margin-top: 100px;
  text-align: center;
}

// --------------------------------------------------
// Detail page.
// --------------------------------------------------
.detail {
  color: $color-gray;

  .row {
    background-color: $color-white;
  }

  .col-9 {
    color: $color-black;
    text-align: right;
  }

  .price {
    font-size: 25px;
    color: $color-primary;
  }

  .list-link-view {
    .link-list-title {
      color: $color-gray;
    }

    .link-list-desc {
      color: $color-black;
    }
  }
}

.bar-footer {
  height: auto;
}

.remark {
  padding: $grid-gutter-base;
  color: $color-gray;
  background-color: $color-white;

  .remark-title {
    height: $remark-title-height;
    line-height: $remark-title-height;
    border-bottom: $border-default;
  }

  .remark-content {
    padding: $grid-gutter-base 0;
    min-height: $remark-content-height;
  }
}

// --------------------------------------------------
// Discover page.
// --------------------------------------------------
.discover {
  .row {
    margin-top: $grid-gutter-base;
    background-color: $color-white;

    &:active {
      background-color: darken($color-white, 2%);
    }
  }

  .col {
    line-height: 50px;
  }
}

// --------------------------------------------------
// Operation manual page
// Registration agreement page
// --------------------------------------------------
.text-block {
  padding: $grid-gutter-large 0;
  border-bottom: $border-dashed;

  &:last-child {
    border-bottom: none;
  }

  .describe {
    padding-left: 1em;
  }

  p {
    font-size: $font-size-small;
  }
}

// --------------------------------------------------
// Register page
// --------------------------------------------------
.register {
  // iPhone 5
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px){
    padding-top: 140px;
  }
  // iPhone 6
  @media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px){
    padding-top: 160px;
  }
  // iPhone 6 Plus
  @media only screen
  and (min-device-width : 414px)
  and (max-device-width : 736px){
    padding-top: 180px;
  }

  background: url("../images/register/top-bg.png") center top no-repeat,
              url("../images/register/bottom-bg.png") center bottom no-repeat;
  background-size: 100%;
}


// --------------------------------------------------
// Message page
// --------------------------------------------------
.message {
  margin-top: $grid-gutter-base;
  background-color: $color-white;
  border: $border-default;
  border-radius: $border-radius-base;

  &:active {
    background-color: darken($color-white, 2%);
  }
}

.message-title {
  padding: {
    top: 10px;
    bottom: 0;
  };
}

.message-content,
.message-date {
  color: $color-gray;
  font-size: $font-size-small;
}

.message-date {
  border-top: $border-default;
}

// --------------------------------------------------
// Coupon
// --------------------------------------------------
.coupon-modal {

  .coupon {
    margin-top: $grid-gutter-base;
    height: $coupon-height;
    border: $border-default;

    &.active {
      border-color: $color-primary;
    }

    &:first-child {
      margin-top: 0;
    }

    .col {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        font-size: $font-size-small;
      }

      &:nth-child(2) {
        color: $color-primary;

        span {
          font-size: $font-size-large;
          font-weight: $font-weight-heavier;
        }
      }

      &:nth-child(4) {
        color: $color-gray;
      }
    }
  }

  .no-coupon-tip {
    margin-top: 50px;
    text-align: center;
  }
}

.coupon-list {
  min-height: $coupon-list-min-height;
  max-height: $coupon-list-max-height;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
