// ==================================================
// Customize
// ==================================================

// --------------------------------------------------
// Index page.
// --------------------------------------------------
/*.index-content {
  background: url("../images/index/index-bg.jpg") bottom center no-repeat;
  background-size: 100% auto;
}

.location {
  font-size: 15px;
  line-height: 26px;
}
*/
.recommend {
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .recommend-more {
    display: inline-block;
    float: right;
    width: 60px;
    height: 100%;
    color: $color-gray;
    text-align: right;
  }
}


// --------------------------------------------------
// Detail page.
// --------------------------------------------------
.detail {
  color: $color-gray;

  .row {
    background-color: $color-white;
  }

  .col-9 {
    color: $color-black;
    text-align: right;
  }

  .price {
    font-size: 25px;
    color: $color-primary;
  }

  .list-link-view {
    .link-list-title {
      color: $color-gray;
    }

    .link-list-desc {
      color: $color-black;
    }
  }
}

.bar-footer {
  height: auto;
}

.remark {
  padding: $grid-gutter-base;
  color: $color-gray;
  background-color: $color-white;

  .remark-title {
    height: $remark-title-height;
    line-height: $remark-title-height;
    border-bottom: $border-default;
  }

  .remark-content {
    padding: $grid-gutter-base 0;
    min-height: $remark-content-height;
  }
}

// --------------------------------------------------
// Discover page.
// --------------------------------------------------
.discover {
  .row {
    margin-top: $grid-gutter-base;
    background-color: $color-white;

    &:active {
      background-color: darken($color-white, 2%);
    }
  }

  .col {
    line-height: 50px;
  }
}

// --------------------------------------------------
// Operation manual page
// --------------------------------------------------
.operation-manual {
  color: $color-black;

  .operation-manual-item {
    padding: $grid-gutter-large 0;
    border-bottom: $border-dashed;

    &:last-child {
      border-bottom: none;
    }
  }

  .describe {
    padding-left: 1em;

    p {
      font-size: $font-size-small;
    }
  }
}

// --------------------------------------------------
// Message page
// --------------------------------------------------
.message {
  margin-top: $grid-gutter-base;
  background-color: $color-white;
  border: $border-default;
  border-radius: $border-radius-base;

  &:active {
    background-color: darken($color-white, 2%);
  }
}

.message-title {
  padding: {
    top: 10px;
    bottom: 0;
  };
}

.message-content,
.message-date {
  color: $color-gray;
  font-size: $font-size-small;
}

.message-date {
  border-top: $border-default;
}

// --------------------------------------------------
// Coupon
// --------------------------------------------------
.coupon-modal {

  .coupon {
    margin-top: $grid-gutter-base;
    height: $coupon-height;
    border: $border-default;

    &.active {
      border-color: $color-primary;
    }

    &:first-child {
      margin-top: 0;
    }

    .col {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        font-size: $font-size-small;
      }

      &:nth-child(2) {
        color: $color-primary;

        span {
          font-size: $font-size-large;
          font-weight: $font-weight-heavier;
        }
      }

      &:nth-child(4) {
        color: $color-gray;
      }
    }
  }

  .no-coupon-tip {
    margin-top: 50px;
    text-align: center;
  }
}

.coupon-list {
  min-height: $coupon-list-min-height;
  max-height: $coupon-list-max-height;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

// --------------------------------------------------
// Order pay
// --------------------------------------------------
.pay-order-info {
  padding: 0 $grid-gutter-base;

  .row {
    border-top: $border-default;

    &:first-child {
      font-weight: $font-weight-heavier;
      border-top: none;
    }
  }
}

.pay-countdown {
  font-size: $font-size-small;
  text-align: center;
}

.pay-countdown-text {
  vertical-align: middle;
}

.payment {
  padding: 0 $grid-gutter-base;
  margin-top: 100px;
}

// --------------------------------------------------
// Order list page
// --------------------------------------------------
.order-type {
  height: $order-list-type-height;
  line-height: $order-list-type-height;

  &:active {
    color: $color-primary;
    background-color: darken($color-white, 5%);
  }

  &.active {
    color: $color-primary;
    border-bottom: 2px solid $color-primary;
  }
}

.order {
  padding: 0 $grid-gutter-base;
  margin-top: $grid-gutter-base;
  background-color: $color-white;
  border: $border-default;
  border-radius: $border-radius-base;

  .order-number,
  .order-submit-time {
    color: $color-gray;
  }

  .order-header,
  .order-content {
    border-bottom: $border-default;
  }

  .order-content {
    padding: $grid-gutter-base 0;
  }

  .btn {
    margin-left: $grid-gutter-base;
  }
}
