// ==================================================
// List
// ==================================================

.list {
    margin-top: $list-margin-top;
    color: $color-gray;
    font-size: $font-size-small;
    background-color: $color-white;

    &:active {
        background-color: darken($color-white, 3%);
    }

    &:first-child {
        margin-top: 0;
    }

    .title {
        color: $color-black;
        font-size: $font-size-base;
    }

    .publish-time {
        font-size: $font-size-small;
    }

    .work-time {
        margin-top: $grid-gutter-base / 2;
    }
}

.list-link-view {
  margin-top: $list-margin-top;
  background-color: $color-white;

  &.no-gutter {
    margin-top: 0;
  }

  .link-list-item {
    @include flex-justify-center-layout;
    padding: 0 $list-gutter;
    min-height: $list-height-base;
    //line-height: $list-height-base;
    border-bottom: $border-default;

    &.horizontal-margin {
      padding: 0;
      margin: 0 $list-gutter;
    }

    &.no-border-bottom {
      border-bottom: none;
    }

    &:last-child {
      border-bottom: none;
    }

    &:active {
      background-color: darken($color-white, 2%);
    }
  }

  .link-list-img {
    margin-right: $grid-gutter-base;
  }

  .link-list-icon {
    margin-right: $list-gutter / 2;
    font-size: $font-size-large;
    color: $color-primary;
  }

  .link-list-title {
    font-size: $font-size-base;
    color: $color-black;
    font-weight: $font-weight-heavier;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }

  .link-list-desc {
    font-size: $font-size-base;
    color: $color-gray;
  }

  .list-forward {
    margin-left: $list-gutter / 2;
    font-size: $font-size-large;
    color: $color-gray;
  }
}
