// ==================================================
// Index Menu
// ==================================================

// Normal menu
// --------------------------------------------------
.menu {
  .menu-item {
    margin: 0 auto;
    height: $menu-height;
    @include flex-center-middle-layout;
    background-color: $menu-bg;
  }

  .menu-label {
    margin-top: $grid-gutter-base;
  }

}




