<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>农活订单详情</title>
  <link rel="stylesheet" href="assets/stylesheets/xdtui-mobile.css">
</head>
<body>
<footer class="bar bar-footer padded" v-if="detail.state === 2 || detail.state === 3 || detail.state === 5">
  <button class="btn btn-primary" v-if="detail.state === 2" @click="confirmOrder">确 认</button>
  <button class="btn btn-primary" v-if="detail.state === 3" @click="pay">去 付 款</button>
  <button class="btn btn-primary" v-if="detail.state === 5" @click="done">完 成</button>
</footer>
<div class="content">
  <div class="detail">
    <div class="row vertical-padded-large text-center">
      <!-- 订单状态：1意向中，2待确认，3待付款，4服务中，5服务完成，6评价完成，7退款中，8已退款，9已取消 -->
      <!-- 保证金，订单状态介于服务中和已退款时显示，即 3 < state < 9 -->
      <div class="col col-12 vertical-padded-small" v-if="detail.state > 3 && detail.state < 9">
        <span class="price" v-text="'￥' + detail.deposit"></span>
      </div>
      <div class="col col-12 vertical-padded-small" v-text="'订单编号：' + detail.orderNo"></div>
    </div>
    <!-- 保证金和优惠券，订单状态介于服务中和已退款时显示，即 3 < state < 9 -->
    <div class="list-link-view" v-if="detail.state > 3 && detail.state < 9">
      <div class="link-list-item no-border-bottom" @click="showCoupons">
        <div class="link-list-title">保证金：<span v-text="detail.deposit"></span>元</div>
        <div class="link-list-desc">优惠券减<span v-model="selectedCouponValue" v-text="selectedCouponValue"></span>元</div>
        <i class="list-forward icon icon-forward"></i>
      </div>
    </div>
    <div class="divider"></div>
    <template v-if="detail.publishType === 1">
      <div class="row">
        <div class="col col-3">农机品牌</div>
        <div class="col col-9" v-text="detail.machineBrand"></div>
      </div>
      <div class="row">
        <div class="col col-3">农机类型</div>
        <div class="col col-9" v-text="detail.machineType"></div>
      </div>
      <div class="row">
        <div class="col col-3">期望价格</div>
        <div class="col col-9" v-text="detail.expectedPrice + '/亩'"></div>
      </div>
      <div class="row">
        <div class="col col-3">机台数量</div>
        <div class="col col-9" v-text="detail.quantity"></div>
      </div>
    </template>
    <template v-else>
      <div class="row">
        <div class="col col-3">作业类型</div>
        <div class="col col-9" v-text="detail.workType"></div>
      </div>
      <div class="row">
        <div class="col col-3">作业物种</div>
        <div class="col col-9" v-text="detail.crop"></div>
      </div>
      <div class="row">
        <div class="col col-3">土地类型</div>
        <div class="col col-9" v-text="detail.soilType"></div>
      </div>
      <div class="row">
        <div class="col col-3">期望价格</div>
        <div class="col col-9" v-text="detail.expectedPrice + '/亩'"></div>
      </div>
      <div class="row">
        <div class="col col-3">作业面积</div>
        <div class="col col-9" v-text="detail.workAcreage"></div>
      </div>
    </template>
    <div class="divider"></div>
    <div class="row">
      <div class="col col-3">需求发布者</div>
      <div class="col col-9" v-text="detail.publisher"></div>
    </div>
    <div class="row">
      <div class="col col-3">作业时间</div>
      <div class="col col-9" v-text="detail.workPeriod"></div>
    </div>
    <div class="row" v-if="detail.state > 3 && detail.state < 9">
      <div class="col col-3">作业地址</div>
      <div class="col col-9" v-text="detail.address"></div>
    </div>
  </div>
  <div class="remark">
    <div class="remark-title">备注</div>
    <div class="remark-content">
      <p v-text="detail.remark"></p>
    </div>
    <!--<div class="remark-images">
      <img :src="detail.introPic">
    </div>-->
  </div>
</div>
<!-- 优惠券 -->
<div class="modal coupon-modal" id="coupon-modal">
  <div class="modal-backdrop" @click="hideCoupons"></div>
  <div class="modal-content coupon-modal-content">
    <div class="coupon-list" v-if="detail.coupons.length > 0">
      <div class="coupon" v-for="coupon in detail.coupons" @click="selectCoupon($index, coupon.couponId, coupon.amount)">
        <div class="row vertical-padded-small">
          <div class="col col-6 vertical-padded-small" v-text="coupon.title"></div>
          <div class="col col-6 vertical-padded-small text-right">¥<span v-text="coupon.amount"></span></div>
          <div class="col col-6 col-offset-6 vertical-padded-small text-right">有效期至<span v-text="coupon.expiredDate"></span></div>
        </div>
      </div>
    </div>
    <div class="coupon-list" v-else>
      <div class="no-coupon-tip">您当前无可用优惠券</div>
    </div>
    <div class="modal-btn-group">
      <button class="btn btn-royal inline" id="coupon-confirm-btn" @click="hideCoupons">确 定</button>
      <button class="btn btn-abandon inline" id="coupon-cancel-btn" @click="cancelCoupons">取 消</button>
    </div>
  </div>
</div>
<script src="scripts/lib/vue.min.js"></script>
<script src="scripts/bridge.js"></script>
<script src="scripts/order-detail.js"></script>
</body>
</html>
