<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>注册</title>
  <link rel="stylesheet" href="assets/stylesheets/xdtui-mobile.css">
</head>
<body>
<!-- 注册&领取优惠券页面 -->
<div class="content register">
  <!-- 注册成功 -->
  <div class="registered" v-if="isRegistered">
    <div class="invitation-success-info">
      <div class="row no-horizontal-padding">
        <div class="col col-5">
          <img src="assets/images/register/inviter-head-01.png" width="90">
        </div>
        <div class="col col-7">
          <p class="registrant-name" v-text="mobile"></p>
          <p> 这是您刚领取的优惠券</p>
        </div>
      </div>
    </div>
    <div class="coupon">
      <div class="coupon-content row no-vertical-padding">
        <div class="col col-7 vertical-padded">
          <p v-text="coupon.title"></p>
          <p>限购买农机作业使用</p>
        </div>
        <div class="col col-5 vertical-padded-large text-right">
          <p>￥<span class="h1" v-text="coupon.amount">200</span></p>
        </div>
        <div class="expiry-date col col-12 vertical-padded-small" v-text="'有效期至 ' + coupon.expiredDate"></div>
      </div>
    </div>
    <div class="row no-horizontal-padding">
      <p class="text-center" v-text="'优惠券已存入账户：' + mobile"></p>
    </div>
  </div>
  <!-- 未注册 -->
  <div class="unregistered" v-else>
    <div class="invitation-info">
      <div class="inviter-head text-center">
        <img src="assets/images/register/inviter-head-01.png" width="90">
      </div>
      <div class="invitation-text">
        <p>Hi，你好，我是麦客用户</p>
        <p>送你<span class="color-primary">200元</span>优惠券</p>
      </div>
    </div>
    <div class="register-form">
      <div class="row no-horizontal-padding vertical-padded-small">
        <input type="text" class="form-input" placeholder="请输入手机号码" v-model="mobile">
      </div>
      <div class="row no-horizontal-padding vertical-padded-small">
        <div class="col col-6">
          <input type="tel" class="form-input" placeholder="请输入验证码" v-model="verificationCode">
        </div>
        <div class="col col-5 col-offset-1">
          <button class="btn btn-plain-primary disabled" id="retrieve-code-btn" v-show="hasVerificationCode">重新获取(30)</button>
          <button class="btn btn-plain-primary" @click="getVerificationCode" v-else>获取验证码</button>
        </div>
      </div>
      <div class="row no-horizontal-padding">
        <button class="btn btn-primary" @click="register">注 册 领 取 优 惠 券</button>
      </div>
    </div>
    <div class="activity-description">
      <p>【活动说明】：</p>
      <p>1. 每位麦客中国新注册用户，可领取200元优惠券一份；</p>
      <p>2. 优惠券有效期自领用之日起90天；</p>
      <p>3. 每个手机号码仅限领用一次；</p>
      <p>4. 最终解释权归麦客中国所有。</p>
    </div>
  </div>

</div>
<div class="toast" id="toast">
  <div class="toast-content">
    <p class="toast-text" id="toast-text"></p>
  </div>
</div>
<script src="scripts/lib/vue.min.js"></script>
<script src="scripts/lib/vue-resource.min.js"></script>
<script src="scripts/lib/jweixin.min.js"></script>
<script src="scripts/register.js"></script>
</body>
</html>
